---
import colorThemes from "@/components/ui/Color/data";
import type { Theme } from "@/types";

interface Props {
  theme: Theme;
}

const { theme } = Astro.props;
---

<section class:list={[colorThemes[theme].container]}>
  <slot />
</section>
