---
import colorTheme from "@/components/ui/Color/data";

interface Props {
  theme: keyof typeof colorTheme;
}

const { theme } = Astro.props;
---

<section class:list={[colorTheme[theme].container]}>
  <slot />
</section>
