@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-element-800: #1a1a1a;
  --color-element-700: #242424;
  --color-element-600: #2d2d2d;
  --color-element-500: #333333;
  --color-element-400: #243342;
  --color-element-300: #213547;
  --color-element-200: #1e3b4c;
  --color-element-100: #1b4151;

  --color-wt-500: #ffffff;
  --color-wt-400: #ebe9e9;
  --color-wt-300: #f5f5f5;

  --color-main-100: #f0f3f2;
  --color-main-200: #d1e0e0;
  --color-main-300: #7ee2c7;
  --color-main-400: #4db6ac;
  --color-main-500: #50ac93;
  --color-main-600: #0b9e8f;
  --color-main-700: #286b42;
  --color-main-800: #1b472c;
  --color-main-900: #003329;
  --color-main-950: #11301d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth !important;
}

h1 {
  @apply text-5xl font-bold text-center;
}

h2 {
  @apply text-4xl font-bold;
}

small {
  @apply text-sm;
}

body {
  @apply bg-wt-400 dark:bg-element-800;
  min-width: 320px;
  overflow-x: hidden;
}

.card {
  --tw-shadow-color: black;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.4);
  --tw-shadow: 0px 1px 0px 0px hsla(0, 0%, 100%, 0.02) inset, 0px 0px 0px 1px hsla(0, 0%, 100%, 0.02) inset,
    0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  --tw-shadow-colored: inset 0px 1px 0px 0px var(--tw-shadow-color), inset 0px 0px 0px 1px var(--tw-shadow-color),
    0px 0px 0px 1px var(--tw-shadow-color);
}

.nav-link-label {
  @apply text-lg;
}
