@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;

  --color-def-100: #f0f3f2;
  --color-def-900: #2e2e2e;

  --color-pur-400: #7b8ec3;
  --color-pur-500: #ba9bc5;
  --color-pur-600: #d5d4ea;

  --color-gr-400: #a2c999;
  --color-gr-500: #397c5b;
  --color-gr-600: #1d3822;
}

*,
*::before,
*::after {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  scrollbar-color: #2e2e2e #f0f3f2;
  scrollbar-width: thin;
}

.screen-unit-grid {
  @apply grid grid-cols-2 gap-10 md:gap-3 grid-rows-3 md:grid-rows-2 md:grid-cols-3 w-full;
}

.screen-unit-rank > :nth-child(1) {
  --rankX: 0;
  --rankY: 0;

  @media (min-width: 640px) {
    & {
      --rankX: 0;
      --rankY: -1;
    }
  }
  @media (min-width: 1024px) {
    & {
      --rankX: 0;
      --rankY: 0;
    }
  }
}

.screen-unit-rank > :nth-child(2) {
  --rankX: 0;
  --rankY: 1;

  @media (min-width: 640px) {
    & {
      --rankX: 1;
      --rankY: -1;
    }
  }
  @media (min-width: 1024px) {
    & {
      --rankX: 0;
      --rankY: 0;
    }
  }
}

.screen-unit-rank > :nth-child(3) {
  /*  */

  --rankX: 0;
  --rankY: 1;

  @media (min-width: 640px) {
    & {
      --rankX: 0;
      --rankY: 1;
    }
  }
  @media (min-width: 1024px) {
    & {
      --rankX: 0;
      --rankY: 0;
    }
  }
}

.screen-unit-rank > :nth-child(4) {
  --rankX: 0;
  --rankY: 1;

  @media (min-width: 640px) {
    & {
      --rankX: 1;
      --rankY: 1;
    }
  }
  @media (min-width: 1024px) {
    & {
      --rankX: 0;
      --rankY: 0;
    }
  }
}

.text-pur-400 {
  color: var(--color-pur-400);
}

.text-pur-500 {
  color: var(--color-pur-500);
}

.text-pur-600 {
  color: var(--color-pur-600);
}

.text-gr-400 {
  color: var(--color-gr-400);
}

.text-gr-500 {
  color: var(--color-gr-500);
}

.text-gr-600 {
  color: var(--color-gr-600);
}

.border-s-pur-400 {
  border-color: var(--color-pur-400);
}

.border-s-pur-500 {
  border-color: var(--color-pur-500);
}

.border-s-pur-600 {
  border-color: var(--color-pur-600);
}
.border-s-gr-400 {
  border-color: var(--color-gr-400);
}

.border-s-gr-500 {
  border-color: var(--color-gr-500);
}

.border-s-gr-600 {
  border-color: var(--color-gr-600);
}

.bg-pur-400 {
  background-color: var(--color-pur-400);
}

.bg-pur-500 {
  background-color: var(--color-pur-500);
}

.bg-pur-600 {
  background-color: var(--color-pur-600);
}

.bg-gr-400 {
  background-color: var(--color-gr-400);
}

.bg-gr-500 {
  background-color: var(--color-gr-500);
}

.bg-gr-600 {
  background-color: var(--color-gr-600);
}

.card {
  --tw-shadow-color: black;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.4);
  --tw-shadow: 0px 1px 0px 0px hsla(0, 0%, 100%, 0.02) inset, 0px 0px 0px 1px hsla(0, 0%, 100%, 0.02) inset,
    0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  --tw-shadow-colored: inset 0px 1px 0px 0px var(--tw-shadow-color), inset 0px 0px 0px 1px var(--tw-shadow-color),
    0px 0px 0px 1px var(--tw-shadow-color);
}

.center {
  @apply flex items-center justify-center;
}

.vertical-center {
  @apply flex flex-col items-center justify-center;
}
