@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;

  --color-def-100: #f0f3f2;
  --color-def-900: #2e2e2e;

  --color-pur-400: #7b8ec3;
  --color-pur-500: #ba9bc5;
  --color-pur-600: #d5d4ea;

  --color-gr-400: #a2c999;
  --color-gr-500: #397c5b;
  --color-gr-600: #1d3822;
}

* {
  scrollbar-color: #2e2e2e #f0f3f2;
  scrollbar-width: thin;
}

.text-pur-400 {
  color: var(--color-pur-400);
}

.text-pur-500 {
  color: var(--color-pur-500);
}

.text-pur-600 {
  color: var(--color-pur-600);
}

.text-gr-400 {
  color: var(--color-gr-400);
}

.text-gr-500 {
  color: var(--color-gr-500);
}

.text-gr-600 {
  color: var(--color-gr-600);
}

*,
*::before,
*::after {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.card {
  --tw-shadow-color: black;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.4);
  --tw-shadow: 0px 1px 0px 0px hsla(0, 0%, 100%, 0.02) inset, 0px 0px 0px 1px hsla(0, 0%, 100%, 0.02) inset,
    0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  --tw-shadow-colored: inset 0px 1px 0px 0px var(--tw-shadow-color), inset 0px 0px 0px 1px var(--tw-shadow-color),
    0px 0px 0px 1px var(--tw-shadow-color);
}
