---
import { Button } from "../ui/Button";
import type { FormProps } from "@/types";

interface Props extends FormProps {}

const { input, button, label, form } = Astro.props;
const formClass = form?.props?.class;
const inputClass = input?.props?.class;
const buttonClass = button?.props?.className;
const labelClass = label?.props?.class;
---

<form class:list={["flex flex-col", formClass]} {...form} data-form-lorem>
  {
    input && (
      <>
        {label && (
          <label for={input?.props?.id} class:list={["font-bold", labelClass]} {...label}>
            {label?.content}
          </label>
        )}
        <input type="text" name={input?.props?.id} class:list={["w-full min-h-9", inputClass]} {...input} />
      </>
    )
  }
  {
    button && (
      <Button type="button" data-button-lorem class:list={["btn ghost card mt-2 w-fit px-6", buttonClass]} {...button}>
        {button?.content}
      </Button>
    )
  }
</form>
