---
import { Button } from "../ui/Button";
import type { FormProps } from "@/types";

interface Props extends FormProps {}

const { inputProps, buttonProps, labelProps, formProps } = Astro.props;
const formClass = formProps?.props?.class;
const inputClass = inputProps?.props?.class;
const buttonClass = buttonProps?.props?.className;
const labelClass = labelProps?.props?.class;
---

<form class:list={["flex flex-col", formClass]} {...formProps} data-form-lorem>
  {
    inputProps && (
      <>
        {labelProps && (
          <label for={inputProps?.props?.id} class:list={["font-bold", labelClass]} {...labelProps}>
            {labelProps?.content}
          </label>
        )}
        <input type="text" name={inputProps?.props?.id} class:list={["w-full min-h-9", inputClass]} {...inputProps} />
      </>
    )
  }
  {
    buttonProps && (
      <Button
        type="button"
        data-button-lorem
        class:list={["btn ghost card mt-2 w-fit px-6", buttonClass]}
        {...buttonProps}
      >
        {buttonProps?.content}
      </Button>
    )
  }
</form>
