---
import { Button } from "../ui/Button";
import type { Prettyfy } from "@/types";
import type { HTMLAttributes, ComponentProps } from "astro/types";

interface Props {
  inputProps?: HTMLAttributes<"input">;
  buttonProps?: ComponentProps<typeof Button>;
  labelProps?: HTMLAttributes<"label">;
  formProps?: HTMLAttributes<"form">;
}

export type FormProps = Prettyfy<Props>;

const { inputProps, buttonProps, labelProps, formProps } = Astro.props as Props;
---

<form class:list={["flex flex-col", formProps?.class]} {...formProps} data-form-lorem>
  {
    inputProps && (
      <>
        <label for={inputProps?.id} class:list={["font-bold", labelProps?.class]} {...labelProps}>
          {labelProps.content}
        </label>
        <input type="text" name={inputProps?.id} class:list={["w-full min-h-9", inputProps?.class]} {...inputProps} />
      </>
    )
  }
  {
    buttonProps && (
      <Button
        type="button"
        data-button-lorem
        class:list={["btn ghost card mt-2 w-fit px-6", buttonProps?.className]}
        {...buttonProps}
      >
        <slot name="button" />
      </Button>
    )
  }
</form>
