---
import Header from "@/layouts/Header.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "@/layouts/Footer.astro";
---

<Layout title="FAQs">
  <Header slot="header" />
  <section class="flex gap-6 flex-wrap bg-gr-600 h-full" slot="main" id="main"></section>
  <Footer slot="footer" />
</Layout>
