---
import Lorem from "@/components/Ipsum.astro";
import HomeLayout from "@/layouts/HomeLayout.astro";
import "../styles/index.css";

---

<HomeLayout title="Accueil">
  <section class="flex gap-6 flex-wrap bg-main-900 h-full" slot="main">
    <Lorem words={25} subtitle="I'm a subtitle" title="I'm a title" />
    <Lorem words={25} subtitle="I'm a subtitle" title="I'm a title" input />
    <Lorem words={25} subtitle="I'm a subtitle" title="I'm a title" input />
    <Lorem words={25} subtitle="I'm a subtitle" title="I'm a title" button />
    <Lorem words={25} subtitle="I'm a subtitle" title="I'm a title" button input />
    <Lorem words={25} subtitle="I'm a subtitle" title="I'm a title" />
  </section>
</HomeLayout>
