---
interface Props {
  show?: boolean;
}
const show = (import.meta.env.dev && (Astro.props.show as boolean)) || true;
---

<script>
  import { actOnMedia } from "@/helpers";
  const pill = document.querySelector("#media-text") as HTMLElement;
  (["sm", "md", "lg", "xl"] as const).map((bk) =>
    actOnMedia(
      bk,
      () => (pill.innerText = bk),
      () => (pill.innerText = bk)
    )
  );
</script>

{
  show && (
    <div class="p-3 mb-5 mr-5 fixed bottom-0 right-0 bg-white dark:bg-slate-950 rounded-full card  opacity-50">
      <span id="media-text" class="text-black montserrat dark:text-white" />
    </div>
  )
}
