---
import Nav from "./Nav";
---

<header class="flex px-3 items-center justify-center bg-main-900/90 w-full fixed z-50 top-0">
  <div class="font-bold text-wt-500 text-4xl">LOGO</div>
  <div class="grow"></div>
  <Nav navClassname="h-24 " client:idle />
</header>
