---
const { title } = Astro.props;
---

<script>
  import { setupIntersectionObserver } from "@/helpers";
  const element = document.querySelector("[data-is='section-unit-observer-title']") as HTMLElement;
  setupIntersectionObserver(element, "debug-obs-title");
</script>
<h2 class="mb-10" data-is="section-unit-observer-title">
  {title}
</h2>
