---
interface Props {
  title: string;
  className?: string;
}
const { title, className } = Astro.props;
---

<script>
  import { setupIntersectionObserver } from "@/helpers";
  const element = document.querySelector("[data-is='section-unit-observer-title']") as HTMLElement;
  setupIntersectionObserver({ element, debugLog: "debug-obs-title", threshold: 0.5 });
</script>
<h2 class:list={["", className]} data-is="section-unit-observer-title">
  {title}
</h2>
