---
const { title } = Astro.props;

interface LoremProps {
  /** The number of words to generate */
  title?: string;
  subtitle?: string;
  words: number;
  input?: boolean;
  button?: boolean;
}
---

<article>
  <h2></h2>
  <small></small>
  <p></p>
  <form action="">
    <label for=""></label>
    <input type="text" />
    <button type="submit"></button>
  </form>
</article>
