---
import tree from "./tree.svg?raw";
import type { IconNames } from "../../types/index";
import type { HTMLAttributes } from "astro/types";

interface Props {
  name: IconNames;
  className?: string;
  props?: HTMLAttributes<"div">;
}

const { name, className, props } = Astro.props;

const icons: Record<IconNames, string> = {
  tree: tree,
};

const selected = icons[name as IconNames];
---

<div class:list={[className]} {...props}>
  <Fragment set:html={selected} />
</div>
