---
import "../tailwind/input.css";
import Nav from "../components/Nav";

interface Props {
  title: string;
  headerTitle: string;
}

const { title, headerTitle } = Astro.props;
const links = [
  { href: "/", label: "Home" },
  { href: "/about", label: "About" },
  { href: "/contact", label: "Contact" },
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-w-full flex flex-col container">
    <header class="bg-gray-800 text-white p-4">
      <h1>{headerTitle}</h1>
    </header>
    <Nav links={links} client:load />
    <slot />
  </body>
</html>
