---
import { cn } from "@/lib/utils";
import type { Prettyfy } from "@/types";

interface Props {
  wrapper: {
    id: string;
    className?: string;
    threshold?: number;
  };
  title?: {
    text: string;
    className?: string;
    startingPos?: string;
    endingPos?: string;
    id: string;
  };

  children: any;
}

export type ScreenUnitProps = Prettyfy<Props>;

const { title, wrapper } = Astro.props;

const titleClass = cn("w-full text-right opacity-0 -z-10 dark:text-white text-black", title?.className);
const wrapperClass = cn("min-h-dvh px-12 py-12", wrapper?.className);
const startingPos = title?.startingPos || "-300px";
const endingPos = title?.endingPos || "0";
const bezier = "cubic-bezier(.25,.75,.5,1.05)";
---

<script>
  import { setupIntersectionObserver } from "@/helpers";
  // --
  const wrappers = Array.from(document.querySelectorAll("[data-is='section-unit-observer-wrapper']")) as HTMLElement[];
  const titleElements = Array.from(
    document.querySelectorAll("[data-is='section-unit-observer-title']")
  ) as HTMLHeadingElement[];

  const groupedObservers: [HTMLElement, HTMLHeadingElement][] = wrappers.map((wrapper, i) => [
    wrapper,
    titleElements[i],
  ]);

  const onIntersect = (titleElement: HTMLHeadingElement) => titleElement.classList.add("animate-slide-in");
  const onDisappear = (titleElement: HTMLHeadingElement) => titleElement.classList.remove("animate-slide-in");
  // 0.4 is the threshold where H1 dissappears in parallax => title appears
  // --
  groupedObservers.forEach((group) =>
    setupIntersectionObserver({
      element: group[0],
      debugLog: `debug-obs-title-${group[0].id}`,
      threshold: parseInt(group[0].dataset.threshold || "") || 0.4,
      onIntersect: () => onIntersect(group[1]),
      onDisappear: () => onDisappear(group[1]),
    })
  );
</script>

<style define:vars={{ bezier, startingPos, endingPos }}>
  h2 {
    opacity: 0;
    transform: translateY(var(--startingPos));
    transition:
      transform 1s var(--bezier),
      opacity 0.5s var(--bezier);
  }

  h2.animate-slide-in {
    transform: translateY(var(--endingPos));
    opacity: 1;
  }
</style>

<section
  class:list={[wrapperClass]}
  id={wrapper.id}
  data-is="section-unit-observer-wrapper"
  data-threshold={wrapper.threshold || 0.4}
>
  {
    title && (
      <h2 class:list={[titleClass]} id={title.id} data-is="section-unit-observer-title">
        {title.text}
      </h2>
    )
  }
  <slot />
</section>
