---
interface Props {
  id: string;
  className?: string;
  title?: string;
  children: any;
}

const { id, className, title } = Astro.props;
---

<script>
  import { setupIntersectionObserver } from "@/helpers";
  // --
  const element = document.querySelector("[data-is='section-unit-observer-wrapper']") as HTMLElement;
  const titleElement = document.querySelector("[data-is='section-unit-observer-title']") as HTMLElement;
  const onIntersect = () => titleElement.classList.add("animate-slide-in");
  const onDisappear = () => titleElement.classList.remove("animate-slide-in");
  // 0.4 is the threshold where H1 dissappears in parallax => title appears
  // --
  setupIntersectionObserver({ element, debugLog: "debug-obs-wrapper", threshold: 0.4, onIntersect, onDisappear });
</script>

<style>
  .animate-slide-in {
    animation-name: slideIn;
    -moz-animation-duration: 1ms;
    animation-direction: alternate;
    animation-timeline: scroll(y);
  }

  @keyframes slideIn {
    0% {
      transform: translateY(-340px);
      opacity: 0;
      filter: blur(2px);
    }
    50% {
      filter: blur(0);
      opacity: 1;
    }
    100% {
      transform: translateY(100vh);
    }
  }
</style>

<section class:list={["min-h-dvh px-12 py-12 ", [className] || ""]} id={id} data-is="section-unit-observer-wrapper">
  {
    title && (
      <h2 class="w-full text-right opacity-0 -z-10 dark:text-white text-black" data-is="section-unit-observer-title">
        {title}
      </h2>
    )
  }
  <slot />
</section>
