---
import FallbackImage from "@/assets/placeholder.webp";
import { selectImage } from "@/helpers";
import { cn } from "@/lib/utils";
import type { ImageProps } from "@/types";
import { Image } from "astro:assets";

interface Props extends ImageProps {}

const { figCaption, figure, img } = Astro.props;

const figureClass = cn("overflow-hidden w-full h-full hover-animation", figure?.props?.class);

const imgClass = cn("object-cover w-full h-full aspect-[16/16] opacity-0 ", img?.props?.class);

const captionClass = cn("text-center text-sm text-gray-500", figCaption?.props?.class);

const image = selectImage({
  bgName: img?.name,
  extension: img?.name?.split(".").pop()?.trim() as "png" | "webp" | "jpg" | undefined,
  fallback: FallbackImage,
});

const bezier = "cubic-bezier(.25,.75,.5,1.25)";
const duration = "0.3s";
---

<Fragment>
  <style define:vars={{ bezier, duration }}>
    .hover-animation {
      transition:
        transform var(--duration) var(--bezier),
        filter var(--duration) var(--bezier);
    }

    .hover-animation:hover {
      transform: scale(1.05);
      filter: brightness(1.1);
    }

    .animate-fade-in-image {
      animation: fade-in-image 0.8s;
      animation-fill-mode: forwards;
    }

    @keyframes fade-in-image {
      0% {
        transform: scale(0.98);
        opacity: 0;
      }
      100% {
        transform: scale(1);
        opacity: 1;
      }
    }
  </style>
  <script>
    import { setupIntersectionObserver } from "@/helpers";

    const elements = Array.from(document.querySelectorAll("[data-anim='animate-fade-in-image']")) as HTMLImageElement[];
    const onIntersect = (element: HTMLElement) => {
      element.classList.add("animate-fade-in-image");
    };

    elements.map((element) => {
      setupIntersectionObserver({
        element,
        debugLog: `Image : ${element.src}`,
        onIntersect: () => {
          onIntersect(element);
        },
        threshold: 0.5,
      });
    });
  </script>
  <div class="overflow-hidden min-w-fit rounded-lg shadow-md border-2 border-black transition-shadow">
    <figure class:list={[figureClass]}>
      {
        /**
         *
         * ...img?.props as any
         * astro assets image lib need more investigation
         *
         */
      }
      <Image
        src={image()}
        class:list={[imgClass]}
        alt={img?.props?.alt || ""}
        class={img?.props?.class}
        data-anim="animate-fade-in-image"
      />
      {figCaption && <figcaption class:list={[captionClass]}>{figCaption?.content}</figcaption>}
    </figure>
  </div>
</Fragment>
