---
import { Image } from "astro:assets";
import LogoImg from "../../assets/logo.webp";
interface Props {
  imgClasses?: string;
  figureClasses?: string;
}

const { imgClasses, figureClasses } = Astro.props;
---

<figure class:list={[figureClasses]}>
  <a href="/" aria-label="Home">
    <Image src={LogoImg} format="webp" alt="Colorful logo of the company" class:list={[imgClasses]} />
  </a>
</figure>
