---
import { Image } from "astro:assets";
import LogoImg from "../../assets/logo.webp";

interface Props {
  imgClasses?: string;
  figureClasses?: string;
  width?: number;
  height?: number;
}

const { imgClasses, figureClasses, width = 42, height = 42 } = Astro.props;
---

<figure class:list={[figureClasses, "h-fit"]}>
  <a href="/" aria-label="Home">
    <Image
      src={LogoImg}
      width={width}
      height={height}
      format="webp"
      alt="Colorful logo of the company"
      class:list={[imgClasses]}
    />
  </a>
</figure>
