---
import { Image } from "astro:assets";
import Cloud1 from "@/assets/clouds/cloud1.png";
import Cloud2 from "@/assets/clouds/cloud2.webp";
import Cloud3 from "@/assets/clouds/cloud3.png";
//
// --

interface Props {
  className?: string;
}

//
// --
const { className } = Astro.props;
---

<style>
  h1.title {
    z-index: -1;
  }
  .paralax-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .paralax-wrapper > [data-is="paralax"] {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 10;
    pointer-events: none;
    overflow: hidden;
  }
</style>
<script>
  const clouds1 = document.querySelector(".clouds1") as HTMLElement;
  const clouds2 = document.querySelector(".clouds2") as HTMLElement;
  const clouds3 = document.querySelector(".clouds3") as HTMLElement;

  document.addEventListener("scroll", () => {
    const scroll = window.scrollY;
    clouds3.style.top = scroll * 0.4 + "px";
    clouds2.style.top = scroll * 0.8 + "px";
    clouds1.style.top = scroll * 0.6 + "px";
  });
</script>

<div class="paralax-wrapper" class:list={[className]}>
  <Image src={Cloud1} role="presentation" alt="" class="clouds1" data-is="paralax" />
  <Image src={Cloud2} role="presentation" alt="" class="clouds2" data-is="paralax" />
  <Image src={Cloud3} role="presentation" alt="" class="clouds3" data-is="paralax" />
</div>
